.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #E98A50;
  color: #FFFFFF;
  font-size: 40px;
  height: 125px;
  width: 100%;
  padding: 20px 100px;

  .logo {
    display: flex;
    height: 100%;

    .img {
      &:hover {
        scale: 1.01;
        cursor: pointer;
      }
  
      &:active {
        scale: 1.02;
      }
    }
  }
}