.inputBlock {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 300px;
  padding: 2px 5px;
  border: 1px solid #E8E9EC;
  border-radius: 5px;

  input {
    border: none;
    margin: 0;
    background: none;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    width: 100%;

    &:focus-visible {
      outline: 0;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.6;
    }
  }
}

.title {
  font-size: 11px;
  margin: 0 0 2px 2px;
  color: black;
  position: relative;
}

.slide_in {
  opacity: 1;
  transform: translateY(0%);
  transition: transform 0.5s ease-out, opacity 0.1s ease-out;
}

.slide_out {
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.5s ease-out, opacity 0.2s ease-out;
}
