@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@400..800&display=swap');

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Podkova', serif;
}

html, body {
  margin: 0;
  padding: 0;
	height: 100%;
	background-color: #FFFFFF;
}

.App {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
}

.container {
  padding: 50px;
}